## Data collecting

This is the first part of project 3

Collecting comments from subreddit r/AppiToCollege, r/gardening

import requests

import pandas as pd
import time

In [52]:
url = 'https://api.pushshift.io/reddit/search/submission'
url_comments = 'https://api.pushshift.io/reddit/search/comment'


We want to get 500 post each time, but now reddit only allow 100 each time

Function to get comments from certain subreddit, create DataFrame using some of the information from comments, 'body' contains the content of the comment, we will be working that content

In [53]:
# get comments from subreddit

def get_comments(subreddit, n_time):
    
    df_list = []
    current_time = 1648412182
    
    for _ in range(n_time):
        res = requests.get(
            url_comments,
            params={
                "subreddit": subreddit,
                "size": 500,
                "before": current_time
            }
        )
        time.sleep(3)
        df = pd.DataFrame(res.json()['data'])
        df = df.loc[:, ["subreddit", "body", "created_utc"]]
        df_list.append(df)
        current_time = df.created_utc.min()
        
    return pd.concat(df_list, axis=0)


Retrieve comments from r/ApplyToCollege, save to datafile to use later

In [54]:
df_comments_colledge = get_comments('ApplyingToCollege',15)

In [55]:
df_comments_colledge.shape

(1475, 3)

In [56]:
df_comments_colledge.to_csv('./Data/comments_college.csv')


Retrieve comments from r/gardening, save to datafile to use later

In [57]:
df_comments_gardening = get_comments('gardening', 15)

In [58]:
df_comments_gardening.shape

(1500, 3)

In [59]:
df_comments_gardening.to_csv('./Data/comments_gardening.csv')


peek comments from 2 subreddits

In [60]:
df_comments_colledge.head(3)

,subreddit,body,created_utc
0,ApplyingToCollege,There’s 200 seats in that class rn and literal...,1648412159
1,ApplyingToCollege,"I meant whatever your intended major is, try t...",1648412154
2,ApplyingToCollege,Dude did you even apply to any safeties/target...,1648412150

In [61]:
df_comments_gardening.head(3)

   subreddit                                               body  created_utc
0  gardening  Others probably have mentioned already, but su...   1648412140
1  gardening                             It’s a tropical almond   1648412131
2  gardening  I do! There is just something about the white ...   1648412122